@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body{font-family: 'Roboto', sans-serif !important;}
h1,h2,h3,h4,h5,h6,p{margin: 0; letter-spacing: 0;}

p{font-weight: 400;}

.cookie-back{background-color: #353535;}
.bg-gray-990 {background-color: #111;}

.desktop-subnav {background-color: rgba(0,0,0,.8);}
.border-grey-subnav {border-color: hsla(0,0%,100%,.24);}

.orng-rollover-overlay:hover, .rollover-svg-item:hover .border-grey-theater, .orng-overlay:hover .border-grey-theater
{border-color: #ff5400;}
.orng-overlay:hover .grid-icon {fill: #ff5400;}
.orgn-rollover-svg path, .white-svg path {fill: #fff!important;}
.rollover-svg-item:hover .rollover-color-title { color: #ff5400!important;}

.bg-opacity-gray {background-color: rgba(0,0,0,.5);background-size: contain;}

.bonus-banner-image {max-width: 60px; position: absolute !important; margin-left: -9px; margin-top: -15px;}

.hr_brd{background: inherit;height: inherit; border: 1px solid rgb(107 114 128);}

.text-grey-bdbbba {color: #bdbbba;}
.text-green-1f8f13 {color: #1f8f13;}
.text-red-b20000 {color: #b20000;}

input.tgg-title {appearance: unset; all: unset;}
.faq-accordion-title label {display: flex;align-items: center; padding: 8px 0; cursor: pointer;}
.faq-accordion-header {position: relative;transition: color .2s linear; cursor: pointer; padding-left: 3rem;}
.faq-accordion-header:hover {color: #ff5400;}
.faq-accordion-header:after, .faq-accordion-header:before {content: "";position: absolute;left: 0; top: 40%; width: 22px; height: 4px;
margin-top: -2px; background-color: #fff;}
.faq-accordion .faq-accordion-header:after {transform: rotate(90deg); transition: transform .35s cubic-bezier(.65,.05,.36,1);}
.faq-accordion-content { margin-left: 3.8rem;}
.faq-accordion-content {overflow: hidden; max-height: 0; transition: max-height .35s ease-in-out;}
.faq-accordion .tgg-title:checked~.faq-accordion-content {will-change: max-height; max-height: 100%;}
.faq-accordion .tgg-title:checked~.faq-accordion-title .faq-accordion-header:before {transition: transform .35s cubic-bezier(.65,.05,.36,1);background-color: #ff5400;}
.faq-accordion .tgg-title:checked~.faq-accordion-title .faq-accordion-header:after {transform: rotate(0deg);transition: transform .35s cubic-bezier(.65,.05,.36,1); background-color: #ff5400;}

.text-menu {font-size: .5em; font-weight: 700;}
.mobile_bg {background-image: url(../assets/images/blackfade.jpg); background-position: top center;}

.quote {color: #fff;font-size: 1.875rem;}
.quote span {font-size: 4rem;line-height: 0;position: relative;top: 16px;}
.quote.two {top: 21px;}

.orange-input {border-radius: 10px!important;}

.closed-ps {max-height: 0;}

.quote-todd:before {content:'';background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z'/%3E%3C/svg%3E");
background-position: top left;background-repeat: no-repeat;width: 24px; height: 24px;position: absolute;left:-5px;top:-5px;
}
.quote-todd:after {content:'';background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z'/%3E%3C/svg%3E"); 
background-position: right bottom;background-repeat: no-repeat;width: 24px; height: 24px;position: absolute; padding-right: 30px;}


.plusicon {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z'/%3E%3C/svg%3E"); background-position: right 15px center; background-repeat: no-repeat;}
.minusicon {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M0 10h24v4h-24z'/%3E%3C/svg%3E"); background-position: right 15px center; background-repeat: no-repeat; }
    
.image-text-color {color: #5e5e5e;}


.quote-todd-orange:before {content:'';background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='%23ff6600'%3E%3Cpath d='M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z'/%3E%3C/svg%3E");
background-position: top left;background-repeat: no-repeat;width: 24px; height: 24px;position: absolute;left:0;top:0;}
.quote-todd-orange:after {content:'';background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='%23ff6600'%3E%3Cpath d='M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z'/%3E%3C/svg%3E"); 
background-position: right bottom;background-repeat: no-repeat;width: 24px; height: 24px;position: absolute; padding-right: 30px;}


.sub_heading.text-3xl{ font-size: 1.75rem;line-height: 2.2rem;}


.thumbnail-slider-wrap .slick-track .slick-slide  {padding: 0 10px; }
.slick-slider {text-align: center;}
.slick-slider .slick-prev {left:0px !important; z-index: 10;}
.slick-slider .slick-next {right:40px !important; z-index: 10;}
.slick-slider .slick-prev:before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='%23FF6600' viewBox='0 0 24 24'%3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z'/%3E%3C/svg%3E");
width: 40px; height: 40px; content: ''; position: absolute; background-repeat: no-repeat;}
.slick-slider .slick-next:before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='%23FF6600' viewBox='0 0 24 24'%3E%3Cpath d='M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z'/%3E%3C/svg%3E");
width: 40px; height: 40px; content: ''; position: absolute; background-repeat: no-repeat;}

.rollover-svg-item svg{ fill: #ffffff;}
.rollover-svg-item:hover svg, .rollover-svg-item svg:hover{fill: #a6adb1;}

.mobile-subnav .arrow {width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #fff;
transition: transform .3s ease-in-out;}

.mobile-subnav .arrow.open {transform: rotate(180deg);}



/* Responsive */

@media screen and (min-width: 1280px){
.callout .xl\:text-6xl {font-size: 3.6rem;}
.callout .xl\:text-2xl {font-size: 1.75rem; line-height: 1.8rem;}
.xl\:text-50{font-size: 50px !important; line-height: 55px !important;}
.xl\:text-35{font-size: 35px !important;}
.xl\:text-70{font-size: 70px !important; line-height: 80px !important;}
.quote_text.text-2xl{font-size: 1.7rem;;}
}

@media screen and (min-width: 1024px){
.large-justify-start {justify-content: flex-start!important;}
.large-justify-end {justify-content: flex-end!important;}
.projectorstand{height: 550px;}
}
@media screen and (max-width: 767px){
.bonus-banner-image { margin-left: -13px; margin-top: -15px; width:95px !important; height: 80px !important; max-width: inherit;}
.quote_img{display: none !important;}
.item_box{width: 220px; margin: 0 auto;}
.quote-todd:before {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z'/%3E%3C/svg%3E");
width: 15px;height: 15px;}
.quote-todd:after {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z'/%3E%3C/svg%3E");
width: 15px;height: 15px;}
.herosection h1{font-size: 2.5rem;line-height: 2.8rem;}
}
@media screen and (min-width: 640px) and (max-width: 767px){
.herosection .w-4\/5 {width: 55%;}
}
@media screen and (min-width: 550px) and (max-width: 639px){
.herosection .w-4\/5 {width: 70%;}
}
@media screen and (max-width:549px){
.herosection .w-4\/5 {width: 100%;}

}
@media screen and (max-width:479px){
.faq-accordion-header{padding-left: 2.5rem;}
.faq-accordion-header:after, .faq-accordion-header:before{margin-top: -5px; width: 18px;height: 3px;}
.herosection .text-4xl {font-size: 1.75rem;line-height: 2rem;}
}
@media screen and (max-width: 319px){
.item_box{width: 100%;}
}