@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body{font-family: 'Roboto', sans-serif !important;}
h1,h2,h3,h4,h5,h6,p{margin: 0; letter-spacing: 0;}

p{font-weight: 400;}

.cookie-back{background-color: #353535;}
.bg-gray-990 {background-color: #080808;}


.border-grey-subnav {border-color: hsla(0,0%,100%,.24);}

.orng-rollover-overlay:hover, .rollover-svg-item:hover .border-grey-theater, .orng-overlay:hover .border-grey-theater
{border-color: #ff5400;}
.orng-overlay:hover .grid-icon {fill: #ff5400;}
.orgn-rollover-svg path, .white-svg path {fill: #fff!important;}
.rollover-svg-item:hover .rollover-color-title { color: #ff5400!important;}

.bg-opacity-gray {background-color: rgba(0,0,0,.5);background-size: contain;}

.bonus-banner-image {max-width: 60px; position: absolute !important; margin-left: -9px; margin-top: -15px;}

.hr_brd{background: inherit;height: inherit; border: 1px solid rgb(107 114 128);}

.text-grey-bdbbba {color: #bdbbba;}
.text-green-1f8f13 {color: #1f8f13;}
.text-red-b20000 {color: #b20000;}

input.tgg-title {appearance: unset; all: unset;}
.faq-accordion-title label {display: flex;align-items: center; padding: 8px 0; cursor: pointer;}
.faq-accordion-header {position: relative;transition: color .2s linear; cursor: pointer; margin-left: 3.8rem;}
.faq-accordion-header:hover {color: #ff5400;}
.faq-accordion-header:after, .faq-accordion-header:before {content: "";position: absolute;left: 0; top: 50%; width: 22px; height: 4px;
margin-top: -2px; background-color: #fff; margin-left: -3rem;}
.faq-accordion .faq-accordion-header:after {transform: rotate(90deg); transition: transform .35s cubic-bezier(.65,.05,.36,1);}
.faq-accordion-content { margin-left: 3.8rem;}
.faq-accordion-content {overflow: hidden; max-height: 0; transition: max-height .35s ease-in-out;}
.faq-accordion .tgg-title:checked~.faq-accordion-content {will-change: max-height; max-height: 100%;}
.faq-accordion .tgg-title:checked~.faq-accordion-title .faq-accordion-header:before {transition: transform .35s cubic-bezier(.65,.05,.36,1);background-color: #ff5400;}
.faq-accordion .tgg-title:checked~.faq-accordion-title .faq-accordion-header:after {transform: rotate(0deg);transition: transform .35s cubic-bezier(.65,.05,.36,1); background-color: #ff5400;}

.text-menu {font-size: .5em; font-weight: 700;}
.mobile_bg {background-image: url(../assets/images/blackfade.jpg); background-position: top center;}

.quote {color: #fff;font-size: 1.875rem;}
.quote span {font-size: 4rem;line-height: 0;position: relative;top: 16px;}
.quote.two {top: 21px;}

.orange-input {border-radius: 10px!important;}

.closed-ps {max-height: 0;}

.quote-todd:before {content:'';background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z'/%3E%3C/svg%3E");
background-position: top left;background-repeat: no-repeat;width: 24px; height: 24px;position: absolute;left:0;top:0;
}
.quote-todd:after {content:'';background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z'/%3E%3C/svg%3E"); 
background-position: right bottom;background-repeat: no-repeat;width: 24px; height: 24px;position: absolute; padding-right: 30px;}


.plusicon {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z'/%3E%3C/svg%3E"); background-position: right center; background-repeat: no-repeat;}
.minusicon {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M0 10h24v4h-24z'/%3E%3C/svg%3E"); background-position: right center; background-repeat: no-repeat; }
    
.image-text-color {color: #5e5e5e;}



@media screen and (min-width: 1280px){
.callout .xl\:text-6xl {font-size: 3.6rem;}
.callout .xl\:text-2xl {font-size: 1.75rem; line-height: 1.8rem;}
.xl\:text-50{font-size: 50px !important;}
.xl\:text-35{font-size: 35px !important;}
}


@media screen and (min-width: 1024px){

.large-justify-start {justify-content: flex-start!important;}
.large-justify-end {justify-content: flex-end!important;}

.wirelesscinema{background-image: url('../assets/images/wireless-cinema-package-1398px-x-658px.jpg');
background-size: cover; background-position: center center;background-repeat: no-repeat;}
.wiredcinema{background-image: url('../assets/images/wired-cinema-package-1398px-x-658px.jpg');
background-size: cover; background-position: center center;background-repeat: no-repeat;}
.projectorstand{background-image: url('../assets/images/timberline-projector-stand-1398px-x-658px.jpg');
background-size: cover; background-position: center center;background-repeat: no-repeat;}

}


@media screen and (max-width: 767px){
.bonus-banner-image { margin-left: -13px; margin-top: -8px;}
.quote_img{display: none !important;}
}